body {
  @include background-image(linear-gradient(top, $blue, $teal));;
  width: 100%;
  color: $typeDefault;
}

#{headings()} {
  font: $headFont;
  color: $light;
  font-weight: $bold;
}

strong {
  font-weight: $bold;
}

a {
  text-decoration: none;
  color: black;
  }

article {
  &:hover {
    border-left: solid $teal;
  }
}

p {
  font-weight: $thin;
  padding-bottom: 10px;
  font: $mainFont
}
