@include breakpoint(450px) {
  header {
    h1 {
      font-size: 2em;
    }
  }
}

@include breakpoint($small) {
  header {
    h1 {
      font-size: 2.5em;
      margin-bottom: 15px;
    }
    #text-input {
      font-size: .8em;
      padding: 5px 8px;
      width: 300px;
      margin-bottom: 20px;
    }
  }
  main {
    max-width: 80%;
    padding-bottom: 50px;
  }
  article {
    padding: 8px 13px;
    h2 {
      margin-bottom: 8px;
    }
  }
}
