@include breakpoint($wide) {
  header {
    h1 {
      font-size: 4em;
      margin-bottom: 15px;
    }
    #text-input {
      font-size: .8em;
      padding: 5px 8px;
      width: 500px;
      margin-bottom: 30px;
    }
  }
  main {
    max-width: 950px;
  }
  article {
    padding: 8px 13px;

    h2 {
      font-size: 1.2em;
      margin-bottom: 8px;
    }
    p {
      font-size: 1em;
    }
  }
}
