@import url("https://fonts.googleapis.com/css?family=Bitter");
@import url("https://fonts.googleapis.com/css?family=Catamaran:400,600");
/* line 5, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../../../components/sass/_base.scss */
body {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNzJmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwYzZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0072ff), color-stop(100%, #00c6ff));
  background-image: -moz-linear-gradient(top, #0072ff, #00c6ff);
  background-image: -webkit-linear-gradient(top, #0072ff, #00c6ff);
  background-image: linear-gradient(to bottom, #0072ff, #00c6ff);
  width: 100%;
  color: #000000;
}

/* line 7, ../../../components/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font: 400 1.5em/1.5em "Bitter", serif;
  color: #FFFFFF;
  font-weight: 600;
}

/* line 13, ../../../components/sass/_base.scss */
strong {
  font-weight: 600;
}

/* line 17, ../../../components/sass/_base.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 23, ../../../components/sass/_base.scss */
article:hover {
  border-left: solid #00c6ff;
}

/* line 28, ../../../components/sass/_base.scss */
p {
  font-weight: 200;
  padding-bottom: 10px;
  font: 400 1em/1.5em "Catamaran", sans-serif;
}

/* line 1, ../../../components/sass/_layout.scss */
body {
  width: 100%;
  text-align: center;
}

/* line 6, ../../../components/sass/_layout.scss */
header {
  padding-top: 150px;
  font-size: 1.3em;
}

/* line 11, ../../../components/sass/_layout.scss */
main {
  display: block;
  margin: 0 auto;
  padding-bottom: 6px;
}

/* line 17, ../../../components/sass/_layout.scss */
article {
  text-align: left;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.5);
  padding-left: 5px;
  margin-bottom: 5px;
}
/* line 12, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
article:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 23, ../../../components/sass/_layout.scss */
article h2 {
  font-size: 1.1em;
}
/* line 26, ../../../components/sass/_layout.scss */
article p {
  font-size: .9em;
}

/* line 31, ../../../components/sass/_layout.scss */
#text-input {
  padding: 3px 5px;
  margin-bottom: 10px;
  border: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

@media (min-width: 450px) {
  /* line 3, ../../../components/sass/modules/_mediasmall.scss */
  header h1 {
    font-size: 2em;
  }
}
@media (min-width: 650px) {
  /* line 11, ../../../components/sass/modules/_mediasmall.scss */
  header h1 {
    font-size: 2.5em;
    margin-bottom: 15px;
  }
  /* line 15, ../../../components/sass/modules/_mediasmall.scss */
  header #text-input {
    font-size: .8em;
    padding: 5px 8px;
    width: 300px;
    margin-bottom: 20px;
  }

  /* line 22, ../../../components/sass/modules/_mediasmall.scss */
  main {
    max-width: 80%;
    padding-bottom: 50px;
  }

  /* line 26, ../../../components/sass/modules/_mediasmall.scss */
  article {
    padding: 8px 13px;
  }
  /* line 28, ../../../components/sass/modules/_mediasmall.scss */
  article h2 {
    margin-bottom: 8px;
  }
}
@media (min-width: 1200px) {
  /* line 3, ../../../components/sass/modules/_mediawide.scss */
  header h1 {
    font-size: 4em;
    margin-bottom: 15px;
  }
  /* line 7, ../../../components/sass/modules/_mediawide.scss */
  header #text-input {
    font-size: .8em;
    padding: 5px 8px;
    width: 500px;
    margin-bottom: 30px;
  }

  /* line 14, ../../../components/sass/modules/_mediawide.scss */
  main {
    max-width: 950px;
  }

  /* line 17, ../../../components/sass/modules/_mediawide.scss */
  article {
    padding: 8px 13px;
  }
  /* line 20, ../../../components/sass/modules/_mediawide.scss */
  article h2 {
    font-size: 1.2em;
    margin-bottom: 8px;
  }
  /* line 24, ../../../components/sass/modules/_mediawide.scss */
  article p {
    font-size: 1em;
  }
}
